{% extends 'base.html' %}
{% load static %}

{% block content %}

<br>
<div class="container">
    <div class="card bg-dark text-white">
        <div class="card-body">
            <h3 class="card-title" style="text-align:center;">Edit Profile</h3>


<form method="post">
  {% csrf_token %}
  <div class="mb-3">
    <label class="form-label">First Name:</label>
    {{ form.fname }}
  </div>
  <div class="mb-3">
    <label class="form-label">Last Name:</label>
    {{ form.lname }}
  </div>
  <div class="mb-3">
    <label class="form-label">Email:</label>
    {{ form.email }}
  </div>
  <div class="mb-3">
    <label class="form-label">Password:</label>
    {{ form.password }}
  <button type="submit">Save Changes</button>
</form>

        </div>
    </div>
</div>

{% endblock %}
