
<style>
.my_footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f8f9fa; /* Change the background color as needed */
    color: #343a40; /* Change the text color as needed */
    padding: 10px 0; /* Adjust the padding as needed */
    justify-content: center;
    display: flex;
    align-items: center;
    }
.my_footer p {
   margin-bottom: 0;
}
</style>

<footer class="mt-auto">
    <div class="footer navbar-fixed-bottom my_footer">
        <p class="text-center">
            &copy; All rights are Reserved
        </p>
    </div>
</footer>